/* nav h4, nav a {
    font-family: 'Questrial', sans-serif;
} */
body{
    font-family: 'Questrial', sans-serif;
}

nav {
    box-shadow: -12px 2px 11px 5px rgba(0,0,0,0.43);
}
.nav-center {
    display: flex;
    justify-content: center;
}
.left {
    text-align: left;
    margin-left: 24px;
}

.left, .right {
    width: 50%;
}

ul.nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 22px;
}

/* a.top-links {
    text-decoration: none;
} */
nav a {
    color: black;
}

nav a:hover {
    color: dodgerblue;
}

.dropdown{
 display: none;
 position: absolute;
    left: 70%;
    line-height: 1.6;
    margin-top: 10px;
    background-color: white;
    padding-right: 40px;
}

ul.no-bullets {
    list-style-type: none;
}

ul.no-bullets a {
    text-decoration: none;
}

.left h4 {
    margin-top: 22px;
}

.container {
display: grid;
grid-gap: 3px;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 40px 200px 40px;
}

.header {
grid-column: 2 / -1;
background-color: green;
}

.menu {
grid-row: 1 / 3;
}

.content {
grid-column: 2 / -1;
}

.footer {
grid-column: 1 / -1;
}


.container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 222px 220px 220px;
}

.yellow {
    background-color: yellow;
}