/* nav h4, nav a {
    font-family: 'Questrial', sans-serif;
} */
body{
    font-family: 'Questrial', sans-serif;
}

nav {
    box-shadow: -12px 2px 11px 5px rgba(0,0,0,0.43);
}
.nav-center {
    display: flex;
    justify-content: center;
    background-color: #23303E;
}

.nav-center a, .nav-center ul {
    color: white;
}

.left {
    text-align: left;
    margin-left: 24px;
    display:flex;
}

.left, .right {
    width: 50%;
}

ul.nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 22px;
}

/* a.top-links {
    text-decoration: none;
} */
nav a {
    color: black;
}

nav a:hover {
    color: #FE9801;
}

.dropdown{
 display: none;
 position: absolute;
    left: 70%;
    line-height: 1.6;
    margin-top: 10px;
    background-color:#23303E;
    padding-left: 17px;
    padding-right: 17px;
}

ul.no-bullets {
    list-style-type: none;
}

ul.no-bullets a {
    text-decoration: none;
}

.left h4 {
    margin-top: 22px;
}


.header {
grid-column: 2 / -1;
background-color: green;
}

.menu {
grid-row: 1 / 3;
}

.content {
grid-column: 2 / -1;
}

.footer {
grid-column: 1 / -1;
}


.container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 160px 160px 160px;
    grid-auto-rows: minmax(160px, auto);
}

.yellow {
    background-color: yellow;
}

.margin-top-20 {
    margin-top: 80px;
}

.item1:hover {
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.25);
    cursor: pointer;
}
div#hangman {
    background: url(../images/Boostrap_logo.svg);
    background-repeat: no-repeat;
    /* background-size: 220px 164px; */
    background-size: cover;
    
}

div#rpg {
    background: url(../images/dancers-photo.png);
    background-repeat: no-repeat;
    /* background-size: 220px 164px; */
    background-size: cover;
   
}

div#calc {
    background: url(../images/3915942881_b941af9809_b.jpg);
    background-repeat: no-repeat;
    /* background-size: 220px 164px; */
    background-size: cover;

}

div#rutgers {
    background: url(../images/1-12313172492sOG.jpg);
    background-repeat: no-repeat;
    /* background-size: 220px 164px; */
    background-size: cover;
    
}

div#rock-paper {
    background: url(../images/28356818991_24b9d5246d_b.jpg);
    background-repeat: no-repeat;
    /* background-size: 220px 164px; */
    background-size: cover;
    
}

div#crystal {
    background: url(../images/crystal-881078_640.jpg);
    background-repeat: no-repeat;
    /* background-size: 220px 164px; */
    background-size: cover;
    
}

div#psychic {
    background: url(../images/fortune-telling-1989579_960_720.jpg);
    background-repeat: no-repeat;
    /* background-size: 220px 164px; */
    background-size: cover;
    
}

div#basketball {
    background: url(../images/7345d1088900a7e09bc2d552c161ed6b_basketball-court-wallpapers-hd-basketball-court-background-clipart_2000-1328.jpeg);
    background-repeat: no-repeat;
    /* background-size: 220px 164px; */
    background-size: cover;
    
}

div#nba {
    background: url(../images/9163118621_6383b11002_b.jpg);
    background-repeat: no-repeat;
    /* background-size: 220px 164px; */
    background-size: cover;
    
}

div#train {
    background: url(../images/data4.jpg);
    background-repeat: no-repeat;
    /* background-size: 220px 164px; */
    background-size: cover;
    
}

div#getMeThere {
    background: url(../images/back1.jpg);
    background-repeat: no-repeat;
    /* background-size: 220px 164px; */
    background-size: cover;
    
}

div#drumkit {
    background: url(../images/drumz.jpg);
    background-repeat: no-repeat;
    /* background-size: 220px 164px; */
    background-size: cover;
    
}

div#connactivities {
    background: url(../images/connactivities.png);
    background-repeat: no-repeat;
    /* background-size: 220px 164px; */
    background-size: cover;
    
}

div#burger {
    background: url(../images/burgery-min.png);
    background-repeat: no-repeat;
    /* background-size: 220px 164px; */
    background-size: cover;
    
}

.item1, div#hangman, div#rpg, div#calc, div#rutgers, div#rock-paper, div#crystal, div#psychic, div#basketball, div#nba, div#train, div#getMeThere, div#drumkit, div#connactivities, div#burger {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1 h2 {
    background-color: white;
    padding: 10px;
}