nav {
    box-shadow: -12px 2px 11px 0 rgba(0,0,0,0.43);
}
.nav-center {
    display: flex;
    justify-content: center;
}
.left {
    text-align: left;
    margin-left: 24px;
}

.left, .right {
    width: 50%;
}

ul.nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

a.top-links {
    text-decoration: none;
}